---
import Header from "../components/Header.astro";
// Supports weights 100-700
import "@fontsource-variable/roboto-mono";
import "@fontsource/tilt-neon";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
    <!-- <div
      class="absolute top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div> -->
    <Header />
    <slot />
  </body>

  <style is:global>
    :root {
      color-scheme: light dark;
    }
    html {
      font-family: "Roboto Mono Variable", monospace;
    }
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    a:hover {
      color: #f0a4f0;
      text-shadow: #ff00ff 1px 0 10px;
    }
  </style>
</html>
